$primary-font: Inter;

@mixin button {
  button: {
    background-color: transparent ;
  border: 1px solid white;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: 1s;
  }


button:hover,
button:focus {
  color: black;
  box-shadow: inset 100rem 0 0 0 white;
  transition: 1s;
}
}

@mixin background-image {
  z-index: -1;
  min-height: 100%;
  min-width: 1440px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@mixin paragraph-style {
  font-family: Inter, sans-serif;
  color: white;
  font-weight: 600;
}

$tile-color: #616554;