.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.background-image {
  z-index: -1;
  min-height: 100%;
  min-width: 1440px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.Logo {
  opacity: 30%;
  position: relative;
  top: 25%;
  height: 400px;
  width: 400px;
  right: auto;
  margin-top: 25px;
}

.login-form {
  z-index: 1;
  position: relative;
  top: 25%;
}

.Register {
  z-index: 1;
  position: relative;
  top:26%
}

.mission-statement {
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: 800px;
  margin-bottom: 20px;
    margin-top: 20px;
}
