.career-component {
  display: flex;
  justify-content: center;
}

.career-info-container{
  color: white;
  text-align: center;
  width: 1000px;
  background-color: #566655;
  opacity: 70%;
  margin-top: 6em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
 padding-bottom: 50px;
  
}

.career-info {
  margin-top: 8px;
  width: 800px;
 
}

.career-info-breakdown {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.links {
  display: flex;
  flex-direction: column;
} 