.dashboard {
  text-align: center;
}
// .background-image {
//   z-index: -1;
//   min-height: 100%;
//   min-width: 1440px;
//   width: 100%;
//   height: auto;
//   position: fixed;
//   top: 0;
//   left: 0;
// }

// .Logo {
//   z-index: 1;
//   opacity: 60%;
//   position: relative;
//   top: 25%;
//   height: 400px;
//   width: 400px;
//   right: auto;
// }

h1 {
  color: white;

}

h3 {
  color: white;
}