.dashboard {
  text-align: center;
}
.background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.Logo {
  z-index: 1;
  opacity: 60%;
  position: relative;
  top: 25%;
  height: 400px;
  width: 400px;
  right: auto;

}

h1 {
  color: white;

}

h3 {
  color: white;
}