input{
  font-family: "Inter";
  background-color: #616554;
  opacity: 30%;
  border-radius: 16px;
  padding: 8px 20px;
  border: none;
  margin: .5em;
  text-align: center;
  transition: 1s;
  outline: none;
}

input:focus {
  opacity: 50%;
  background-color: white;
  transition: 1s;
}

input::placeholder {
  color: white;
}

