.career-tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.career-tile {
  background-color: white;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 10px;
  max-width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  // Change align-self once populating with more than one tile - Jack Nov30th
  opacity: 65%
}