@use 'base';

#schedule {
  font-family: base.$primary-font;
  height: 100vh;
  width: 100vw;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  @include base.background-image
}

button {
  @include base.button
}

.career-recommendations {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 75px;
}

.career-buttons {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}













