
.user-appointments-component {
  background-color: white;
  padding-top: 2em;
  border: 1px solid;
  margin: auto;
  margin-top: 1em;
  max-width: 45em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 65%;
}